# Created by .ignore support plugin (hsz.mobi)
/.idea/
/user_service/user_service.iml
/user_rest/user_rest.iml
/user_rest/target/
/user_service/target/
/user_api/user_api.iml
/user_api/target/
/user_parent.iml
/user-service/user-service.iml
/user-rest/user-rest.iml
/user-api/user-api.iml
/user-parent.iml
